<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%c.%M:%L] %msg%n</pattern>
		</encoder>
	</appender>

    <appender name="ftp-server" class="ch.qos.logback.core.FileAppender">
        <file>target/logs/ftp-server.log</file>
        <append>true</append>
        <encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%c.%M:%L] %msg%n</pattern>
        </encoder>
    </appender>
    
	<logger name="com.github.matschieu.ftp.server" level="DEBUG">
		<appender-ref ref="ftp-server" />
	</logger> 

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ftp-server" />
	</root>
</configuration>
